// Fonts =========================== //
$Roboto-Black: 'Roboto-Black';
$Roboto-Bold: 'Roboto-Bold';
$Roboto-Medium: 'Roboto-Medium';
$Roboto-Regular: 'Roboto-Regular';
$Roboto-Light: 'Roboto-Light';

// Colors ======================== //
$white: #fff;
$base_blue: #5b9bc4;
$grey: #e9e7e5;
$bacground_grey: #F9F9F9;
$text_green: #6AB56C;
$base_font_color: #4e4e4e;
$footer_bg: #242424;